.backToTopBtn {
    background-color: black;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 1%;
    bottom: 10%;
    z-index: 1;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: opacity 0.5s linear;
    visibility: visible;

    &.hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.5s, opacity 0.5s linear;
    }

    &-icon {
        width: 60%;
        filter: invert(100%);
    }
}
