.accordion-section {
    width: 100%;
    min-height: 40px;
    @include flex(column, flex-start, flex-start, nowrap);

    &-header {
        width: 100%;
        min-height: inherit;
        height: 15%;
        @include flex(row, flex-start, center, nowrap);
        background-color: #eee;
        cursor: pointer;
        transition: background-color 0.6s ease;
        font-weight: 600;
        padding: 1rem;
        box-sizing: border-box;
        position: relative;
        -webkit-tap-highlight-color: transparent;

        &:hover,
        &.active {
            background-color: #ccc;
        }

        &-title {
            margin: 0;
            font-size: 1.6rem;
            pointer-events: none;
            text-decoration: none;
            color: #444;
        }

        &-icon {
            position: absolute;
            right: 0;
            height: 50%;
            padding: 0 1.5rem;
            filter: invert(37%);
            transition: transform 0.6s ease;
            pointer-events: none;

            &.rotate {
                transform: rotate(90deg);
            }
        }
    }

    &-content {
        width: 100%;
        background-color: white;
        font-size: 1.2rem;
        line-height: normal;
        overflow: hidden;
        transition: max-height 0.6s ease;
        box-sizing: border-box;

        &-data {
            @include flex(column, flex-start, flex-start, nowrap);
            width: 100%;
            box-sizing: border-box;

            p,
            a {
                padding: 1rem;
                margin: 0;
            }
        }
    }
}
