.form-input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    vertical-align: middle;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #ddd;

    @media (max-width: 894px) {
        width: 65%;
        margin: 1rem 0;
    }
}
