.form-container {
    @include flex(column, flex-start, flex-start, nowrap);

    .form-header {
        margin-bottom: 2rem;
        &-title {
            font-size: 2rem;
        }
    }
}

#message-textarea-label {
    margin-left: 0;
}
