.bottom-navigation-item {
    @include flex(column, center, center, nowrap);
    height: 100%;
    width: 33%;
    min-width: 100px;
    font-family: GalanoGrotesque-Medium;
    font-size: 1.2rem;
    word-break: break-word;
    padding: 0 10px;
    box-sizing: border-box;

    &-icon {
        height: 25px;
        margin-bottom: 10px;
        pointer-events: none;
    }

    &-name {
        pointer-events: none;
    }
}
