.form-radio-button-group {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    min-height: 30px;

    .form-radio-button-container {
        @include flex(row, flex-start, center);
        width: 100%;
        margin-bottom: 0.5rem;

        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }

    .form-radio-button {
        &:nth-of-type(even) {
            margin-left: 1rem;
        }
    }

    .form-radio-button-label {
        font-size: 1.2rem;

        &:nth-of-type(even) {
            margin-right: 1rem;
        }
    }

    @media (max-width: 894px) {
        width: 65%;
        margin: 1rem 0;
    }
}
