.table-container {
    min-width: 500px;
    height: 350px;
    overflow: auto;
}

.table {
    table-layout: fixed;
    border-spacing: 0;
    text-align: left;
    font-size: 1.2rem;
    box-sizing: border-box;

    td,
    th {
        min-width: 150px;
    }

    thead tr th {
        position: sticky;
        top: 0;
        z-index: 1;
        background: white;
    }

    tfoot tr td {
        position: sticky;
        bottom: 0;
        z-index: 1;
        background: white;
    }

    &-header {
        &-row {
            &-cell {
                padding: 20px 10px;
                border-color: slategrey;
                border-style: solid;
                border-width: 1px 0;

                &:first-of-type {
                    border-top-left-radius: 4px;
                    border-left-width: 1px;
                }

                &:last-of-type {
                    border-top-right-radius: 4px;
                    border-right-width: 1px;
                }
            }
        }
    }

    &-body {
        &-row {
            &-cell {
                padding: 20px 10px;
                border-color: slategrey;
                border-style: solid;
                border-width: 0;

                &:first-of-type {
                    border-left-width: 1px;
                }

                &:last-child {
                    border-right-width: 1px;
                }
            }
        }
    }

    &-footer {
        &-row {
            &-cell {
                padding: 20px 10px;
                border-color: slategrey;
                border-style: solid;
                border-width: 1px 0;

                &:first-of-type {
                    border-left-width: 1px;
                }

                &:last-child {
                    border-right-width: 1px;
                }
            }
        }
    }
}
